@charset "utf-8";

/* CSS Document */

body {
    height: 100%;
}

.container {
    padding-top: 80px;
    padding-bottom: 4px;
    text-decoration-color: #fff;
}

.image-select {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.crop {
    width: 270px;
    height: 270px;
    overflow: hidden;
    text-align: center;
}

.crop img {
    width: 270px;
    height: 270px;
    margin: auto;
}

.rounded-circle {
    border-radius: 50%!important;
    border-top-left-radius: 100% !important;
    border-top-right-radius: 100% !important;
    border-bottom-right-radius: 100% !important;
    border-bottom-left-radius: 100% !important;
}

.form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 10;
}

.form-register .form-floating:focus-within {
    z-index: 2;
}

.form-register input[type="email"] {
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 10;
}

.form-register input[type="text"] {
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 10;
}

.form-register input[type="password"] {
    border-top-left-radius: 10;
    border-top-right-radius: 10;
}

.form-register input[type="file"] {
    border-top-left-radius: 10;
    border-top-right-radius: 10;
}